<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-mvc-demo:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_mvc_demo_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring-mvc-demo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring-mvc-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="javax.servlet.jstl" />
          <element id="file-copy" path="$MAVEN_REPOSITORY$/org/jetbrains/annotations/20.1.0/annotations-20.1.0.jar" />
          <element id="library" level="project" name="hibernate.core" />
          <element id="library" level="project" name="lib" />
        </element>
      </element>
    </root>
  </artifact>
</component>